body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.quiz-container {
    width: 90vw;
    height: 90vh; /* Adjusted height to fit the viewport */
    max-width: 540px;
    max-height: 960px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.quiz-header, .quiz-footer {
    text-align: center;
}

.quiz-header h1 {
    font-size: 2.5em;
    margin: 0;
}

.quiz-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    font-size: 3em; /* Increased font size */
    margin-bottom: 20px;
    text-align: center;
    background-color: #6200ea; /* Background color */
    padding: 20px;
    border-radius: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Cool font */
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.option {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.option:hover {
    background-color: #555;
    transform: scale(1.05);
}

.option.correct {
    background-color: #4caf50; /* Green background for correct answer */
}

#next-btn {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5em;
}

#next-btn:hover {
    background-color: #3700b3;
}

.feedback-icon {
    font-size: 1.5em;
    position: absolute;
    right: 10px;
}

.timer {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #333;
    margin-top: 20px;
}

.timer-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
}

.timer-circle {
    stroke: #6200ea;
    stroke-width: 10;
    fill: none;
    stroke-dasharray: 314; /* 2 * Math.PI * 50 (radius) */
    stroke-dashoffset: 314;
    transition: stroke-dashoffset 1s linear;
}
